# Supabase config (Currently Active)
VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key

# PocketBase config (Set to true to enable PocketBase data overrides for Billing & Configs)
VITE_USE_POCKETBASE=true
VITE_POCKETBASE_URL=http://127.0.0.1:8090
